div.pic {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
}

div.pic:hover {
    border: 1px solid green;
}

div.pic img {
    width: 100%;
    
}

div.fram {
	padding: 0 6px;
    float: left;
    width: 24.99999%;
	font-family: 'Mali', cursive;

}

div.about {
	
	padding: 15px;
    text-align: center;
}






