body {
  background-color: #f0f0f0;
  margin: 0;
}



#head {
	
	margin: 0 0 0 50px;
	float:left;
	padding: 0 20px 0 20px;
	text-decoration:none;
	color: black;

}


#head:hover{
	
	background-color: #b4b4b4;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
}

.effect{
	
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
	cursor: zoom-in;
	
	
}

.effect:hover{
	
	opacity: 0.7;
}

#frame{
  margin: 50px auto;
  padding: 100px 20px 100px 20px;
  width: 350px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  text-align:center;
}
